*{
	padding: 0;
	font-family: spaceFont, serif;
}

@font-face
{
	font-family: spaceFont;
	src: url(../fonts/Xolonium-Regular.ttf);
}

html{
	position: relative;
	min-height: 100%;
}
a {
	text-decoration: none;
}
body
{
	margin: 0 0 100px;
}