*{
	padding: 0;
	font-family: Tahoma;
}

#intro_section p{
	font-size: 250%;
	color: white;
}

#intro_content
{
	background: url(../img/GameBackground3.png) no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	text-align: center;
}

#top_menu{
	text-align: right;
	padding: 10px;
	background: black;
	border: 2px solid white;
	color: white;
	font: bold 100% Tahoma;
}

#top_menu li:first-child{
	float: left;
}

#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}

#intro_content{
	padding-top: 20%;
	padding-bottom: 20%;
	width: 100%;
	height: 100%;
}

footer{
	color: white;
	font: 100% Tahoma;
	text-align: center;
	padding: 20px;
	background-color: black;
	border: 2px solid white;
}
